<!DOCTYPE html>
<html>
  <head>
    <title>Cryptos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui labeled icon inverted menu">
      <a class="item" href=/  >
        <i class="pound sign icon"></i>
        GBP
      </a>
      <a class="item" href=/USD >
        <i class="dollar sign icon"></i>
        USD
      </a>
      <a class="item" href=/EUR >
        <i class="euro sign icon"></i>
        EUR
      </a>
    </div>

    <%= yield %>
  </body>
</html>
